name: My CI-CD

on: 
  push:
    branches: [ main ]

env:
  APPNAME: next-js

jobs:
  deploy: 
    runs-on: self-hosted

    strategy: 
        matrix:
            node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn build
      
      - name: Reload the Pm2 App
        run: |
          pm2 describe next-js > /dev/null
          RUNNING=$?
          if [ "${RUNNING}" -ne 0 ]; then
            echo "node is not running."
            # pm2 stop next-js
            # pm2 delete next-js
          else
            echo "Node is Running."
            # pm2 start npm --name "next-js" -- startpm2 restart appname
          fi;
    
      # - run: pm2 reload next-js
      # - run: pm2 delete ${{ env.APPNAME }}
      # - run: pm2 kill 
      # - run: pm2 start npm --name ${{ env.APPNAME }} -- start
        env:
          CI: true  
      